form {
    background-color: mediumslateblue;
    text-align: center;
    border-radius: 10%;
    width: 20%;
    margin: auto;
}

div{
    text-align: center;
    background-color: mediumslateblue;
    border-radius: 10%;
    width: 20%;
    margin: auto;
}


